*{
	margin: 0px;
	padding: 0px;
}

/* Navegación */

label {
	display: none;
}

nav {
	background:rgba(244, 98, 1, 0.9);
	position:fixed;
	width: 75%;
	height: 60px;
	margin-left: 25%;
	top: 0px;
}

nav ul{
	margin-left: 10px;
}

nav li {
	font-family: 'Orbitron', sans-serif;;
	font-size: 100%;
	padding-top: 25px;
	padding-right: 5px;
	padding-left: 5px;
	float: left;
	margin-left: 10px;
	list-style: none;	 
}

nav a{
	text-decoration: none;
	font-family: 'Orbitron', sans-serif;
	font-size: 11px;
	color: rgb(245, 245, 245, 1);
}

.inforeponsive{
	display: none;
}

.name {
	padding-top: 25px;
}

.name:hover {
	background: #943e00;
	height: 35px;
}

/* Final del header */

/* Comienzo de informacion derecha */

.soy-der{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 25%;
	height: 100%;
	float: left;
}

.bg-img{
	height: 81%;
	width: 100%;
}

.soy-der img{
	margin-top: 0px;
	width: 100%;
	height: 100%;
}

.bg-tlf{
	color: #FAFAF9;
	background: #C97A15;
	height: 5%;
	padding-left: 20px;
	padding-top: 10px;
}

.bg-tlf:hover{
	background: #ADACAB;
}

.bg-web{
	color: #FAFAF9;
	background: #E48B19;
	height: 5%;
	padding-left: 20px;
	padding-top: 10px;
}

.bg-web:hover{
	background: #ADACAB;
}

.bg-correo{
	color: #FAFAF9;
	background: #FA981C;
	height: 5%;
	padding-left: 20px;
	padding-top: 10px;
}

.bg-correo:hover{
	background: #ADACAB;
}

/* Final de info derecho */

.cen{
	background: #faf9f9;
	width: 75%;
	margin-top: 60px;
	float: right;
}

.cen li{
	width: 100%;
	background: #faf9f9;
	padding-bottom: 3%; 
	list-style: none;
}
.cen li:hover{
	background: rgba(254, 111, 16, 0.7)
}

.cen p{
	font-family: sans-serif;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 1.5%;

}

.cen h1 {
	color:#393939;
	background: #e5e6e7;
	font-family: sans-serif;
	font-size: 20px;
	width: 99%;
	padding-top: 1%;
	padding-left: 1.5%;
	padding-bottom: 1%;
}

.quien h1 
{
	color: rgba(244, 98, 1, 0.9);;
	background: none;
	padding-left: 5%; 
}


.cen h2{
	color:#252525;
	font-size: 18px;
	font-family: sans-serif;
	padding-top: 2%;
	padding-left: 5%;
}

.cen h3{
	color: #5F5D5D;
	font-size: 14px;
	font-family: sans-serif;
	font-style: italic;
	padding-left: 5%;
}

.quien{
	padding-bottom: 2%;
	width: 100%;
}

.quien ul{
	margin-left: 5%;
}

.quien li{
	width: 33%;
	float: left;
	list-style: none;
	margin-top: 10px; 


}

.quien li:hover {
	background: none;
	color: orange;
}

.contenedor{
	width: 100%;
}

.imgport{
    width: 95%;
    height: 100%;
    margin-left: 5%;
    text-align: center;
}

.imgport img{
	opacity: 0.6;
	width: 15%;
	height: 15%;
	padding-left: 1%;
	padding-bottom: 0.5%;
	margin-top: 2%;
	float: left;
}

.imgport img:hover{
	opacity: 1;
}

/* Final de estilos */


/* RESPONSIVE */
	@media	(max-width: 800px){

		/* Realizando cambios a clases anteriores*/
		
		.respon 
		{
			display: none;
		}
		nav ul li 
		{
			display: none;
			padding: 0px;
		}

		.soy-der 
		{
			position: static;
			width: 100%;
			text-align: center;
		}

		.cen
		{
			width: 100%;
			margin-top: 0px;
		}

		.imgport
		{
			position: relative;
		}

		.inforeponsive
		{
			width: 100%;
			color: #e7e7e7;
			display: inline-block;
			text-align: center;
			float: none;
			margin-top: 1px;
			background:rgba(244, 98, 1, 0.9);
			margin-left: 0;
			height: auto;
		}

		.inforeponsive span 
		{
			font-size: 20px;
		}

		.bg-correo, .bg-tlf, .bg-web
		{
			display: none;
		}

		/* Comenzando a darle estilo al menú*/

		nav{
			background: #c1c1c1;
			height: auto;
			overflow: hidden;
			transition: all 0.3s;
			font-family: 'Roboto', sans-serif;
			text-align: center;
			border-left: solid orange 1px;

		}
		input#menu{
			display: none;
		}

		nav ul{
			width: 100%;
			padding: 0;
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: space-around;
		}

		.name{
			width: 100%;
			height: 20%;
			margin: 0 auto;
			padding: 0;
			display: block;
			float: none;
			text-align: center;

		}

		.name a{
			font-size: 20px;
			height: auto;
		}

		.name:hover{
			width: 100%;
			background: #943e00;

		}

		.barramenurepon{
			display: none;
			position: fixed;
		}

		label i{
			font-size: 20px!important;
			transition: all 0.5s;
			cursor: pointer;
		}

		label {
			font-family: 'Orbitron', sans-serif;;
			font-size: 25px;
		}
		.barramenurepon{
			display: block;
		}
		nav{
			max-height: 0;
			overflow: hidden;
			transition: all 0.3s;
		}
		input:checked~nav{
			max-height: 400px;
		}
		input:checked+label i{
			transform: rotate(90deg);
		}
		.barramenurepon {
		    height: 30px;
		    display: block;
		    padding: 25px;
		}

		.bgmenu{
			width: 100%;
			background:rgba(244, 98, 1, 0.9);
		}
		nav ul{
			height: 100%;
		}

		nav ul, .name /*nav ul li*/{
			display: block;
			text-align: center;
		}




	}